@model IEnumerable<moment3.Models.Artist>

@{
    ViewData["Title"] = "Artister";
}

<h1>Artister</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm border border-dark">Lägg till ny artist</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm border border-dark">Redigera</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm border border-dark">Information</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-sm border border-dark">Radera</a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>
